[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
python-dotenv = "*"
pylint = "*"
django-bootstrap4 = "*"
celery = "*"
gunicorn = "*"
whitenoise = "*"
django-heroku = "*"
